@import url('./resources/fonts/get-schwifty/stylesheet.css');
@import url('./resources/fonts/acorn/stylesheet.css');
@import url('./resources/fonts/gt-planar/stylesheet.css');
@import "tailwindcss";
@import "tw-animate-css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  h1,
  h2,
  h4,
  h5,
  h6 {
    font-family: 'GetSchwifty', sans-serif;
  }

  p,
  h3 {
    font-family: 'Acorn', sans-serif;
  }
}

#root {
  margin: 0 !important;
  padding: 0 !important;
  max-width: 100% !important;
}